@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

.blur_it {
  backdrop-filter: blur(18px);
}

.bold_it {
  font-weight: 900;
}

.list_items {
  writing-mode: vertical-rl;
  margin-inline: 1rem;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #fcc757;
  transition: all 250ms;
}

.list_items:hover {
  background-color: #fcc757;
  cursor: pointer;
  color: white;
}

button:hover {
  border-bottom-width: 4px;
  transform: translate(0, 2px);
}
